.responsive {       
  margin: 16px 6vw 0px 6vw;
  padding: 0px 0px 0px 20px; 
}
@media (max-width: 1280px) {
    .responsive {
        margin: 16px 2vw 0px 2vw;
        padding: 0px 0px 0px 20px; 
    }
  }