* {
  box-sizing: border-box;
}
body{
  height: 10000px
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANYekan";
  src: url("../public/fonts/BYekan+.ttf") format("woff2"),
    url("../public/fonts/BYekan+\ Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IRANYekan";
  src: url("../public/fonts/BYekan+.ttf") format("woff2"),
    url("../public/fonts/BYekan+\ Bold.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
}

@layer base {
  p,
  li {
    @apply font-iranyekan;
  }
  .rtl {
    direction: rtl;
  }
  .custom-prev {
    @apply w-10;
  }

  .custom-next {
    @apply h-25;
  }
}

:root {
  --red: #f0f0f1;
  --inpBorderL: #e0e0e2;
  --TextColor: #3f4064;
  --navTextColor: #62666d;
  --sliderStoryTextColor: #23254e;
  --discountTextColor: #c0c2c5;
  --textPrice: #3f4064;
  --textButton: #19bfd3;
  --CoolerBtnFooter: #a1a3a8;
}
